:root{
  --bg-light: #f0f8ff;
  --bg-solid: #7e9fad;
  --dark-blue: #001666;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, "Dasa Sans", sans-serif;
}

table{
  width: 90vw;
  margin: 0 auto;
}

thead{
  background: var(--dark-blue);
}

thead th{
  color: white;
  height: 2rem;
}

tbody td{
  height: 1.5rem;
}

tbody {
  background: var(--bg-light);
}

td{
  text-align: center;
}